{{ "<!-- Firebase Configuration -->" | safeHTML }}
{{ `<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.5.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.5.0/firebase-analytics.js";
    const firebaseConfig = {
      apiKey: "AIzaSyBr7aWCphmqfCyTrP8bL7dy2jmB-BUhtA8",
      authDomain: "roboco-blog.firebaseapp.com",
      projectId: "roboco-blog",
      storageBucket: "roboco-blog.firebasestorage.app",
      messagingSenderId: "271355511424",
      appId: "1:271355511424:web:afe6c395323917e6169c65",
      measurementId: "G-XL520T0G70"
    };
  
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>` | safeHTML }}

{{ "<!-- Google Site Verification -->" | safeHTML }}
{{ `<meta name="google-site-verification" content="MS7EhVaJJtLXB9eVZX_iWAMiIkjWhKhBMbHe9im_EfA" />` | safeHTML }}

{{ "<!-- Naver Site Verification -->" | safeHTML }}
{{ `<meta name="naver-site-verification" content="919e09d6ad79e7933d0a1c4703e24b59d72eae07" />` | safeHTML }}
