{{ $darkLogo := "/images/roboco-logo_white.svg" }}
{{ $lightLogo := "/images/roboco-logo_black.svg" }}

<div class="logo-wrapper">
    <img src="{{ $darkLogo }}" alt="ROBOCO Logo" class="logo dark-logo">
    <img src="{{ $lightLogo }}" alt="ROBOCO Logo" class="logo light-logo">
    <style>
        .logo-wrapper {
            display: flex;
            justify-content: center;
            margin: 2rem 0;
        }
        .logo {
            max-width: 250px;
            height: auto;
        }
        .logo.dark-logo {
            display: none;
        }
        .logo.light-logo {
            display: none;
        }
        :root[data-theme="dark"] .logo.dark-logo {
            display: block;
        }
        :root[data-theme="dark"] .logo.light-logo {
            display: none;
        }
        :root[data-theme="light"] .logo.light-logo {
            display: block;
        }
        :root[data-theme="light"] .logo.dark-logo {
            display: none;
        }
    </style>
</div>
